
<a href='https://huntsman.usu.edu/directory/jahangiry-pedram'> <img src="logo.jpg" /></a>
___
## Pedram Jahangiry

# Python Crash Course


Basic topics to be covered:

* Data types
    1. Numbers
    2. Strings
    3. Booleans
    4. Tuples
    5. Lists
    6. Dictionaries  
    7. Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* list comprehension
* functions
* map and filter

____

## Data types

### 1. Numbers

In [1]:
3+5

8

In [2]:
2*3

6

In [3]:
2 ** 3

8

In [4]:
5 / 2

2.5

In [5]:
5 // 2

2

In [6]:
5 % 2

1

### Variable Assignment

In [7]:
my_var = 2

In [8]:
my_var

2

In [9]:
x = 2

In [10]:
y= my_var + x
y

4

### 2. Strings

In [11]:
Hello World

SyntaxError: invalid syntax (<ipython-input-11-648a6a6ffffd>, line 1)

In [12]:
"Hello World"

'Hello World'

In [13]:
ID = 1234
Name = "Pedram"

In [14]:
print('my ID number is {}, and my name is {}'.format(ID,Name))

my ID number is 1234, and my name is Pedram

In [15]:
my_string = 'Hellow world, I am learning #ML'

In [16]:
my_string.lower()

'hellow world, i am learning #ml'

In [17]:
my_string.upper()

'HELLOW WORLD, I AM LEARNING #ML'

In [18]:
my_string.split()

['Hellow', 'world,', 'I', 'am', 'learning', '#ML']

In [19]:
my_string.split('#')

['Hellow world, I am learning ', 'ML']

In [20]:
# using "in" method
'x' in [1,2,3]

False

In [21]:
'x' in ['x','y','z']

True

### 3. Booleans

In [22]:
# unlinke R, you cannot use T or TRUE for boolean True
T 
TRUE

NameError: name 'T' is not defined

In [ ]:
x=True

In [ ]:
x

In [ ]:
False

### 4. Tuples

In [23]:
# paranthesis are used for tuples
t = (1,2,3)

In [24]:
t

(1, 2, 3)

In [25]:
# extracting from tuples. Becareful! unlike R, indexing starts from 0 and not 1
t[0]

1

In [26]:
# Note that tuples are immutable. You cannot assign some NEW variables to them. Where do we use it?
t[0] = 10

TypeError: 'tuple' object does not support item assignment

### 5. Lists

In [27]:
# Bracket [] are used to make lists. Note: [] does the same job as list() function in R. 
[1,2,3]

[1, 2, 3]

In [28]:
my_list = ['Hello World',100,[1,"2",3], (1,"2",3)]  
my_list

['Hello World', 100, [1, '2', 3], (1, '2', 3)]

* Notice that the integers 1 and 3 in the list (and the tuple) above are not coerced into strings

#### Extracting elements from a list

In [29]:
my_list

['Hello World', 100, [1, '2', 3], (1, '2', 3)]

In [30]:
my_list[0]

'Hello World'

In [31]:
my_list[2]

[1, '2', 3]

In [32]:
my_list[2][1]

'2'

In [33]:
my_list[2][-1]  # extracting the last element.

3

In [34]:
my_list[1:3]  # starting from index 1 (the second element) and NOT including index 3 (the forth element)

[100, [1, '2', 3]]

In [35]:
my_list[1:]  # extracting from index 1 (second element) to the end. There is no such a thing in R

[100, [1, '2', 3], (1, '2', 3)]

In [36]:
my_list[:2]  # extracting from index 0 upto (and not including) index 2

['Hello World', 100]

In [37]:
my_list[0] = 'NEW variable'  # unlike tuples, lists are mutable

In [38]:
my_list

['NEW variable', 100, [1, '2', 3], (1, '2', 3)]

#### Adding elements to a list
using append()

In [39]:
my_list.append('new string 1')

In [40]:
my_list

['NEW variable', 100, [1, '2', 3], (1, '2', 3), 'new string 1']

#### Removing elements from a list
using clear(), pop(), remove() and del. 
* Remove all items: clear()
* Remove an item by index and get its value: pop()
* Remove an item by value: remove()
* Remove items by index or slice: del

In [41]:
l1 = my_list.copy()
l2 = my_list.copy()
l3 = my_list.copy()
l4 = my_list.copy()

In [42]:
l1

['NEW variable', 100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [43]:
l1.clear()
l1

[]

In [44]:
l2

['NEW variable', 100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [45]:
l2.pop(0)

'NEW variable'

In [46]:
l2

[100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [47]:
l3

['NEW variable', 100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [48]:
l3.remove('new string 1')

In [49]:
l3

['NEW variable', 100, [1, '2', 3], (1, '2', 3)]

In [50]:
l4

['NEW variable', 100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [51]:
del l4[0]
l4

[100, [1, '2', 3], (1, '2', 3), 'new string 1']

In [52]:
del l4[1:]
l4

[100]

### 6. Dictionaries

In [53]:
# Braces and colons { 'key1' : value1 , 'key2' : value2 , ...}  are used for dictionaries. You can use keys (and not indexes) to extract information
# Dictionaries do not retian any order! very useful when you don't want to extract info based on index number
my_dict = {'key1':'value1','key2':[1,2,3,4]}

In [54]:
my_dict

{'key1': 'value1', 'key2': [1, 2, 3, 4]}

In [55]:
my_dict[1]

KeyError: 1

In [56]:
my_dict['key2']

[1, 2, 3, 4]

In [57]:
my_dict['key2'][2]

3

In [58]:
my_dict.keys()

dict_keys(['key1', 'key2'])

In [59]:
my_dict.items()

dict_items([('key1', 'value1'), ('key2', [1, 2, 3, 4])])

In [60]:
my_dict.values()

dict_values(['value1', [1, 2, 3, 4]])

### 7. Sets

In [61]:
# set is a collection of UNIQUE elements.
# to define a set, we can either use Braces {} or the set() function
{1,2,3}

{1, 2, 3}

In [62]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [63]:
set([1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2])

{1, 2, 3}

In [64]:
my_set={1,2,3}

In [65]:
my_set.remove(2)
my_set

{1, 3}

In [66]:
my_set.add(4)
my_set

{1, 3, 4}

## Comparison Operators

In [67]:
2 > 1

True

In [68]:
2 < 1

False

In [69]:
4 <= 4

True

In [70]:
2 == 2

True

In [71]:
'BUY' == 'BUY'

True

In [72]:
'BUY' == 'buy'

False

In [73]:
'buy' != 'sell'

True

In [74]:
(1 > 2) and (2 < 3) # all the statements must be true

False

In [75]:
(1 > 2) or (2 < 3)  # only one of the true elements safices!

True

In [76]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [77]:
# in Python: if condition :  action 
# in R:      if (condition) {action}

In [78]:
if 1 < 2:                      
    print('condition is true')

condition is true

In [79]:
if 1 < 2:
    print('consition is true')
else:
    print('condition is false')

consition is true

In [80]:
if 1 > 2:
    print('consition is true')
else:
    print('condition is false')

condition is false

In [81]:
if 1 == 2:
    print('first condition is true')
elif 3 == 3:
    print('second condition is true')
else:
    print('last condition is true')

second condition is true

## for Loops

In [82]:
# in python     for item in seq : do something
# in R          for (item in seq){do something}

In [83]:
# Note: in Python we don't have the luxury of using 1:5 like in R. Instead we use range() function
range(5)

range(0, 5)

In [84]:
list(range(5))

[0, 1, 2, 3, 4]

In [85]:
for item in range(5):
    print(item)

0
1
2
3
4

In [86]:
for item in range(4,10,2):
    print(item)

4
6
8

In [87]:
# tuple unpacking using for loop
x= [(1,2),(3,4),(5,6)]

In [88]:
x

[(1, 2), (3, 4), (5, 6)]

In [89]:
for a,b in x:
    print('First element is {} and second element is {}'.format(a,b))

First element is 1 and second element is 2
First element is 3 and second element is 4
First element is 5 and second element is 6

##### enumerate()
A lot of times when dealing with iterators, we also get a need to keep a **count of iterations**. Python eases the programmers’ task by providing a built-in function enumerate() for this task. 

enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method.

In [90]:
y= ['item1','item2','item3','item4','item5']

In [91]:
list(enumerate(y))

[(0, 'item1'), (1, 'item2'), (2, 'item3'), (3, 'item4'), (4, 'item5')]

In [92]:
for counter, item in enumerate(y):
    print (counter, item)

0 item1
1 item2
2 item3
3 item4
4 item5

In [93]:
# you want to change the index of counter starting from 1?
for counter, item in enumerate(y,start=1):
    print (counter, item)

1 item1
2 item2
3 item3
4 item4
5 item5

## while Loops

In [94]:
# in python     while condition true: do something. 
# in R          while (condition true) {do something}

In [95]:
count = 1

while count <= 4:
    print('count is: {}'.format(count))
    count+=1             # this is equivalent to count = count+1

count is: 1
count is: 2
count is: 3
count is: 4

## list comprehension
This is very useful for **conditional mutation**

In [96]:
x = [1,2,3,4,5]

In [97]:
x

[1, 2, 3, 4, 5]

In [98]:
my_list = []  # empty list. In R we use list() to create empty list. 
for i in x:
    my_list.append(i**2+1)
print(my_list)

# we can do all this in one line

[2, 5, 10, 17, 26]

In [99]:
[y**2+1 for y in range(1,6)]    # this is like mapply(function(x) x^2+1, 1:5) in R

[2, 5, 10, 17, 26]

## functions

In [100]:
# in Python:   def my_func(inputs): do something
# in R     :   my_function <- function(inputs){do something}

In [101]:
def my_func(x=0):
    """
    documentation of your function
    """
    print(x+2)

In [102]:
my_func    # press shift tab to see the documentation

In [103]:
my_func() # if you don't assign any default values you will get an error.

2

In [104]:
my_func(10)

12

## map() and filter() functions

These methods expect a function object as the first argument. This function object can be a pre-defined method with a name (like def add(x,y)).

Though, more often than not, functions passed to map() and filter() are the ones you'd use only once, so there's often no point in defining a referenceable function.

To avoid defining a new function for your different map()/filter() needs - a more elegant solution would be to use a short, disposable, anonymous function that you will only use once and never again - a **lambda** expression.

## lambda expressions (anonymous function)

In [105]:
def power_3(x):  
    return x**3

In [106]:
power_3(2)

8

In [107]:
lambda x: x**3         # function(x) x*3     in R

Now let's combine lambda and the two methods:

In [108]:
seq = [1,2,3]

In [109]:
seq

[1, 2, 3]

In [110]:
list(map(power_3,seq))

[1, 8, 27]

In [111]:
list(map(lambda x: x**3,range(1,4)))

[1, 8, 27]

In [112]:
list(filter(lambda x: x>3,range(10)))

[4, 5, 6, 7, 8, 9]

In [113]:
# another example
stocks = ['AAPL', 'MSFT', 'AMZN', 'TSLA']
stocks

['AAPL', 'MSFT', 'AMZN', 'TSLA']

In [114]:
# we want to see if stocks in the list start with letter A or not
list(map(lambda x : x[0]=='A' , stocks))

[True, False, True, False]

In [115]:
# or we want to select only the stocks that start with letter A and ends with 'L' 
list(filter(lambda x: x[0]=='A' and x[-1]=='L' , stocks))

['AAPL']

Passing multiple arguments to the map() function:

In [116]:
list(map(lambda x,y : x+y , [1,2], [3,4]))

[4, 6]